In [480]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
import seaborn
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import scipy.stats as stats
import plotly.io as pio
from plotly.tools import FigureFactory as FF
from mpl_toolkits.basemap import Basemap as Basemap
from matplotlib.colors import rgb2hex
from matplotlib.patches import Polygon
plotly.tools.set_credentials_file(username='ThisIsDNa', api_key='DUwIm8Ia6mwSF2mqa9GC')

In [481]:
file_2016 = "../Desktop/2016_state_debt_revenue.csv"
df_2016 = pd.read_csv(file_2016)
df_2016.drop(['General revenue', 'Intergovernmental revenue', 'Taxes', 'General sales',
         'Selective sales', 'License taxes', 'Individual income tax', 'Corporate income tax',
         'Natural resources', 'Parks and recreation', 'Interest on general debt',
         'Other and unallocable', 'Utility expenditure', 'Liquor stores expenditure', 
         'Insurance trust expenditure', 'Cash and security holdings', 'Other taxes',
         'Current charge', 'Miscellaneous general revenue', 'Utility revenue', 'Liquor stores revenue',
         'Insurance trust revenue', 'Total expenditure', 'Intergovernmental expenditure',
         'General expenditure','Education','Public welfare', 'Hospitals', 'Health', 'Highways', 
         'Police protection', 'Correction', 'Governmental administration', 'Direct expenditure',
         'Current operation', 'Capital outlay', 'Insurance benefits and repayments', 'Assistance and subsidies',
         'Interest on debt', 'Exhibit: Salaries and wages', 'Total expenditure.1', 'Intergovernmental expenditure.1',
         'Direct expenditure.1', 'General expenditure, by function:', 'Unnamed: 2', 'Unnamed: 12', 'Unnamed: 15', 
         'Unnamed: 19', 'Unnamed: 29', 'Unnamed: 34', 'Unnamed: 41', 'Unnamed: 47', 'Unnamed: 50', 'Unnamed: 54', 
         'Unnamed: 56', '(Thousands of Dollars)'
        ], axis=1, inplace=True)

df_2016.rename(index=str, columns={'Total revenue': 'Revenue 2016',
                              'Debt at end of fiscal year': 'Debt 2016'}, inplace=True)

df_2016.to_csv('2016_state_debt_revenue_alter.csv', sep=',', encoding='utf-8')
file_2016 = "../Desktop/2016_state_debt_revenue_alter.csv"
df_2016 = pd.read_csv(file_2016)
df_2016.head()

   Unnamed: 0  Revenue 2016     Debt 2016
0           0  2.136635e+09  1.160489e+09
1           1  3.017249e+07  8.667105e+06
2           2  8.071732e+06  5.953933e+06
3           3  3.823238e+07  1.440019e+07
4           4  2.143923e+07  4.828756e+06

In [482]:
file_2015 = "../Desktop/2015_state_debt_revenue.csv"
df_2015 = pd.read_csv(file_2015)
df_2015.drop(['General revenue', 'Intergovernmental revenue', 'Taxes', 'General sales',
         'Selective sales', 'License taxes', 'Individual income tax', 'Corporate income tax',
         'Natural resources', 'Parks and recreation', 'Interest on general debt',
         'Other and unallocable', 'Utility expenditure', 'Liquor stores expenditure', 
         'Insurance trust expenditure', 'Cash and security holdings', 'Other taxes',
         'Current charge', 'Miscellaneous general revenue', 'Utility revenue', 'Liquor stores revenue',
         'Insurance trust revenue', 'Total expenditure', 'Intergovernmental expenditure',
         'General expenditure','Education','Public welfare', 'Hospitals', 'Health', 'Highways', 
         'Police protection', 'Correction', 'Governmental administration', 'Direct expenditure',
         'Current operation', 'Capital outlay', 'Insurance benefits and repayments', 'Assistance and subsidies',
         'Interest on debt', 'Exhibit: Salaries and wages', 'Total expenditure.1', 'Intergovernmental expenditure.1',
         'Direct expenditure.1', 'General expenditure, by function:', 'Unnamed: 2', 'Unnamed: 12', 'Unnamed: 15', 
         'Unnamed: 19', 'Unnamed: 29', 'Unnamed: 34', 'Unnamed: 41', 'Unnamed: 47', 'Unnamed: 50', 'Unnamed: 54', 
         'Unnamed: 56'
        ], axis=1, inplace=True)
df_2015.rename(index=str, columns={'(Thousands of Dollars)': 'State',
                              'Total revenue': 'Revenue 2015',
                              'Debt at end of fiscal year': 'Debt 2015'}, inplace=True)

new_col = ['', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY',
           'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE',
           'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
           'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA',
           'WA', 'WV', 'WI', 'WY']

df_2015.insert(0, 'code', new_col)
df_2015.to_csv('2015_state_debt_revenue_alter.csv', sep=',', encoding='utf-8')
file_2015 = "../Desktop/2015_state_debt_revenue_alter.csv"
df_2015 = pd.read_csv(file_2015)



df_2015.head()

   Unnamed: 0 code          State  Revenue 2015   Debt 2015
0           0  NaN  United States    2202562898  1150140105
1           1   AL        Alabama      26896290     9125828
2           2   AK         Alaska       8419335     5727891
3           3   AZ        Arizona      35346766    14243659
4           4   AR       Arkansas      21665918     4985140

In [483]:
df = pd.merge(df_2015, df_2016)
df.head()
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.to_csv('2015_2016_state_debt_revenue.csv', sep=',', encoding='utf-8')
file = "../Desktop/2015_2016_state_debt_revenue.csv"

#Translate Thousands into Ones
df.loc[:,'Revenue 2015']*= 1000
df.loc[:,'Debt 2015'] *= 1000
df.loc[:,'Revenue 2016'] *= 1000
df.loc[:,'Debt 2016'] *= 1000

#Translate Ones into Billions
df.loc[:,'Revenue 2015']/= 1000000000
df.loc[:,'Debt 2015'] /= 1000000000
df.loc[:,'Revenue 2016'] /= 1000000000
df.loc[:,'Debt 2016'] /= 1000000000

df = df.iloc[1:]
df.head()

  code       State  Revenue 2015   Debt 2015  Revenue 2016   Debt 2016
1   AL     Alabama     26.896290    9.125828     30.172490    8.667105
2   AK      Alaska      8.419335    5.727891      8.071732    5.953933
3   AZ     Arizona     35.346766   14.243659     38.232376   14.400191
4   AR    Arkansas     21.665918    4.985140     21.439227    4.828756
5   CA  California    332.456557  151.715007    322.332341  151.307658

In [486]:
for col in df.columns:
        df[col] = df[col].astype(str)

        
df['text'] = df['State'] + '<br>' +\
    ' 2015 Debt ' + df['Debt 2015'] +\
    ' 2016 Debt ' + df['Debt 2016']
#    ' 2015 Revenue' + df['']


data = [ dict(
                type='choropleth',
                colorscale = 'YlGnBu',
                reversescale = True,
                autocolorscale = False,
                locations = df['code'],
                z = df['Debt 2015'].astype(float),
                locationmode = 'USA-states',
                text = df['text'],
                marker = dict(
                        line = dict (
                        color = 'rgb(255,255,255)',
                        width = 2) ),
                colorbar = dict(
                title = 'Billions USD'
                )
                )]

layout = dict(
        title = '2015 US Debt by State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )


fig = dict( data=data, layout=layout )
py.iplot( data, filename='d3-cloropleth-map' )
pio.write_image(fig, 'Images/2015_US_State_Debt.png')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ThisIsDNa/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [454]:
states = []
revenue_2015 = []
revenue_2016 = []
debt_2015 = []
debt_2016 = []

with open(file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)
    next(csvreader)
    for row in csvreader:
        states.append(row[2])
        revenue_2015.append(row[3])
        debt_2015.append(row[4])
        revenue_2016.append(row[5])
        debt_2016.append(row[6])

total_states = len(states)
debt_states = states[0]
max_debt_2015 = debt_2015[0]
min_debt_2015 = debt_2015[0]
max_debt_2016 = debt_2016[0]
min_debt_2016 = debt_2016[0]

In [455]:
for x in range(len(debt)):
    if debt_2015[x] >= max_debt_2015:
        max_debt_2015 = debt_2015[x]
        max_debt_state_2015 = states[x]
    if debt_2015[x] <= min_debt_2015:
        min_debt_2015 = debt_2015[x]
        min_debt_state_2015 = states[x]
        
for x in range(len(debt)):
    if debt_2016[x] >= max_debt_2016:
        max_debt_2016 = debt_2016[x]
        max_debt_state_2016 = states[x]
    if debt_2016[x] <= min_debt_2016:
        min_debt_2016 = debt_2016[x]
        min_debt_state_2016 = states[x]

In [458]:
max_debt_2016

'8667105.0'

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ThisIsDNa/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [163]:
data.drop(data.index[0])
avg_debt = total_debt/total_states

avg_analysis = pd.DataFrame({"Number of States": [total_states],
                              "Average Debt per State": [avg_debt]},
                     columns= ["Number of States",
                               "Average Debt per State"])

debt_analysis = pd.DataFrame({"State with most debt": [max_debt_state],
                               "Most Debt Amount": [max_debt],
                               "State with least debt": [min_debt_state],
                               "Least Debt Amount": [min_debt]},
                             columns = ["State with most debt",
                                        "Most Debt Amount",
                                        "State with least debt",
                                        "Least Debt Amount"])

In [164]:
ne_region = []
ne_region = data.loc[data['State'].isin(['Connecticut', 'Maine', 'Massachusetts', "New Hampshire",
                                         'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania'])]
mw_region = []
mw_region = data.loc[data['State'].isin(['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin',
                                         'Iowa', 'Kansas', 'Minnesota','Missouri', 'Nebraska',
                                         'North Dakota', 'South Dakota'])]

s_region = []
s_region = data.loc[data['State'].isin(['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina',
                                        'South Carolina', 'Virginia', 'West Virginia', 'Alabama', 'Kentucky',
                                        'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma',
                                        'Texas'])]

w_region = []
w_region = data.loc[data['State'].isin(['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada',
                                        'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California',
                                        'Hawaii', 'Oregon', 'Washington'])]

In [165]:
ne_region_total = 0
mw_region_total = 0
s_region_total = 0
w_region_total = 0
ne_debt = 0
mw_debt = 0
s_debt = 0
w_debt = 0

ne_region_total = len(ne_region)
mw_region_total = len (mw_region)
s_region_total = len(s_region)
w_region_total = len(w_region)

ne_debt_total = ne_region['Debt at end of fiscal year'].sum()
mw_debt_total = ne_region['Debt at end of fiscal year'].sum()
s_debt_total = ne_region['Debt at end of fiscal year'].sum()
w_debt_total = ne_region['Debt at end of fiscal year'].sum()

ne_debt_avg = ne_debt/ne_region_total
mw_debt_avg = mw_debt/mw_region_total
s_debt_avg = s_debt/s_region_total
w_debt_avg = w_debt/w_region_total

In [129]:
#Figure out how to t-test by using the US as the population mean and the specific regions as sample means

#plt.subplot(2, 1, 2)
#plt.hist(states, 20, density=True, alpha=0.7, label="population")
#plt.hist(ne_region, 20, density=True, alpha=0.7, label="sample")
#plt.axvline(data.mean(), color='k', linestyle='dashed', linewidth=1)
#plt.axvline(ne_region.mean(), color='k', linestyle='dashed', linewidth=1)
#plt.legend()

#stats.ttest_1samp(ne_debt_avg, avg_debt)