In [1]:
import pandas as pd

# define path for source csv file
source_file_2015 = 'Resources/employment/ACS_15_5YR_S2301_with_ann.csv'

In [2]:
# read csv file into dataframe
data_2015 = pd.read_csv(source_file_2015)

In [3]:
# choose the two columns I want to keep
data_2015 = data_2015[['GEO.display-label','HC02_EST_VC01']]

# drop gratuitious header line
data_2015 = data_2015.drop(data_2015.index[0])

# rename columns 
data_2015.columns = ['State', 'Employment Rate']

# show sample of final dataframe
data_2015.head()

        State Employment Rate
1     Alabama            58.3
2      Alaska            70.6
3     Arizona            59.7
4    Arkansas            58.7
5  California            63.6