In [1]:
import pandas as pd

# define path for source csv file
source_file_2015 = 'Resources/employment/ACS_15_5YR_S2301_with_ann.csv'

In [2]:
# read csv file into dataframe
data_2015 = pd.read_csv(source_file_2015)

In [3]:
# choose the two columns I want to keep
data_2015 = data_2015[['GEO.display-label','HC02_EST_VC01']]

# drop gratuitious header line
data_2015 = data_2015.drop(data_2015.index[0])

# rename columns 
data_2015.columns = ['State', 'Employment']

# show sample of final dataframe
data_2015.head()

        State Employment
1     Alabama       58.3
2      Alaska       70.6
3     Arizona       59.7
4    Arkansas       58.7
5  California       63.6

In [4]:
df= data_2015
df['Text'] = ""
df.head(3)

     State Employment Text
1  Alabama       58.3
2   Alaska       70.6
3  Arizona       59.7

In [5]:
for col in df.columns:
    df[col] = df[col].astype(str)
    
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['Text'] = df['State'] + ' Employment ' + df['Employment']

data = [dict(
    type='choropleth', 
    colorscale = scl, 
    autocolorscale = False, 
    locations = df['code'], 
    z = df['Employment'].astype(float), 
    locationmode = 'USA-states', 
    text = df['Text'], 
    marker = dict(
        line = dict (
            color = 'rgb(255,255,255)',
            width = 2 
        )),
    colorbar = dict(
        title = "Percent")
)] 

layout = dict(
    title = 'Employment',
    geo = dict(
        scope = 'usa', 
        projection=dict(type='albers usa'), 
        showlakes=True, 
        lakecolor = 'rgb(255,255,255)'),
    )

fig = dict(data = data, layout=layout)
py.iplot( fig, filename='d3-cloropleth-map')

KeyError: 'code'

In [6]:
df.head(3)

     State Employment                     Text
1  Alabama       58.3  Alabama Employment 58.3
2   Alaska       70.6   Alaska Employment 70.6
3  Arizona       59.7  Arizona Employment 59.7