# 2012 - 2016 Median Household Income by State Heatmap

Read in 2012, 2013, 2014, 2015 and 2016 Median Household Income from census.gov, and create a heat map by US State.

In [1]:
# Dependencies:
# First you need to pip install plotly and create free account online for 4the api key. 
# Second you need to pip install Orca.
# Then you can call plotly as py and orca as pio.
import pandas as pd
import numpy as np
import requests
import plotly
plotly.tools.set_credentials_file(username='drbeaman', api_key='sT7AGDihwOZJVDF5iwhl')
import plotly.plotly as py
import plotly.io as pio

In [2]:
# Import incidents by state file as DataFrame
median_inc = "Resources/median_household_income.csv"
median_inc_df = pd.read_csv(median_inc)

In [3]:
# Preview df
median_inc_df.head()

  State code       State  Income Margin Of Error
0         AL     Alabama   44758        +/- $314
1         AK      Alaska   74444        +/- $809
2         AZ     Arizona   51340        +/- $231
3         AR    Arkansas   42336        +/- $234
4         CA  California   63783        +/- $188

In [4]:
# Check the data types to see exact names of columns to rename
median_inc_df.dtypes

State code         object
State              object
Income              int64
Margin Of Error    object
dtype: object

In [5]:
# Drop unnecessary columns
median_inc_df = median_inc_df.drop(columns=['Margin Of Error'])
median_inc_df

   State code           State  Income
0          AL         Alabama   44758
1          AK          Alaska   74444
2          AZ         Arizona   51340
3          AR        Arkansas   42336
4          CA      California   63783
5          CO        Colorado   62520
6          CT     Connecticut   71755
7          DE        Delaware   61017
8          FL         Florida   48900
9          GA         Georgia   51037
10         HI          Hawaii   71977
11         ID           Idaho   49174
12         IL        Illinois   59196
13         IN         Indiana   50433
14         IA            Iowa   54570
15         KS          Kansas   53571
16         KY        Kentucky   44811
17         LA       Louisiana   45652
18         ME           Maine   50826
19         MD        Maryland   76067
20         MA   Massachusetts   70954
21         MI        Michigan   50803
22         MN       Minnesota   63217
23         MS     Mississippi   40528
24         MO        Missouri   49593
25         MT         Montana   48380
26         NE        Nebraska   54384
27         NV          Nevada   53094
28         NH   New Hampshire   68485
29         NJ      New Jersey   73702
30         NM      New Mexico   45674
31         NY        New York   60741
32         NC  North Carolina   48256
33         ND    North Dakota   59114
34         OH            Ohio   50674
35         OK        Oklahoma   48038
36         OR          Oregon   53270
37         PA    Pennsylvania   54895
38         RI    Rhode Island   58387
39         SC  South Carolina   46898
40         SD    South Dakota   52078
41         TN       Tennessee   46574
42         TX           Texas   54727
43         UT            Utah   62518
44         VT         Vermont   56104
45         VA        Virginia   66149
46         WA      Washington   62848
47         WV   West Virginia   42644
48         WI       Wisconsin   54610
49         WY         Wyoming   59143

In [6]:
#Rename columns
median_inc_df.rename(columns=
    {'Income':'Median Household Income'}, inplace=True)
median_inc_df.columns

Index(['State code', 'State', 'Median Household Income'], dtype='object')

In [7]:
# Preview DataFrame
median_inc_df.head()

  State code       State  Median Household Income
0         AL     Alabama                    44758
1         AK      Alaska                    74444
2         AZ     Arizona                    51340
3         AR    Arkansas                    42336
4         CA  California                    63783

In [8]:
median_inc_df.sort_values(by='Median Household Income', ascending=True)

   State code           State  Median Household Income
23         MS     Mississippi                    40528
3          AR        Arkansas                    42336
47         WV   West Virginia                    42644
0          AL         Alabama                    44758
16         KY        Kentucky                    44811
17         LA       Louisiana                    45652
30         NM      New Mexico                    45674
41         TN       Tennessee                    46574
39         SC  South Carolina                    46898
35         OK        Oklahoma                    48038
32         NC  North Carolina                    48256
25         MT         Montana                    48380
8          FL         Florida                    48900
11         ID           Idaho                    49174
24         MO        Missouri                    49593
13         IN         Indiana                    50433
34         OH            Ohio                    50674
21         MI        Michigan                    50803
18         ME           Maine                    50826
9          GA         Georgia                    51037
2          AZ         Arizona                    51340
40         SD    South Dakota                    52078
27         NV          Nevada                    53094
36         OR          Oregon                    53270
15         KS          Kansas                    53571
26         NE        Nebraska                    54384
14         IA            Iowa                    54570
48         WI       Wisconsin                    54610
42         TX           Texas                    54727
37         PA    Pennsylvania                    54895
44         VT         Vermont                    56104
38         RI    Rhode Island                    58387
33         ND    North Dakota                    59114
49         WY         Wyoming                    59143
12         IL        Illinois                    59196
31         NY        New York                    60741
7          DE        Delaware                    61017
43         UT            Utah                    62518
5          CO        Colorado                    62520
46         WA      Washington                    62848
22         MN       Minnesota                    63217
4          CA      California                    63783
45         VA        Virginia                    66149
28         NH   New Hampshire                    68485
20         MA   Massachusetts                    70954
6          CT     Connecticut                    71755
10         HI          Hawaii                    71977
29         NJ      New Jersey                    73702
1          AK          Alaska                    74444
19         MD        Maryland                    76067

# Map data

In [18]:
#For loop
for col in median_inc_df.columns:
    median_inc_df[col] = median_inc_df[col].astype(str)

#Set color groups for heat scale 
'''scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
    [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]
'''
# Prepare data to put into text.
# Text variable will be inserted into 'data' dictionary below.
# These columns will appear in plotly.com hover feature.
median_inc_df['text'] = median_inc_df['State'] + '<br>' +\
    ' Median Household Income ' + median_inc_df['Median Household Income']

# Set up data dictionary to hold the data
data = [ dict(
        type='choropleth',
        colorscale = 'Hot',
        autocolorscale = False,
        reversescale = False,
        locations = median_inc_df['State code'],
        z = median_inc_df['Median Household Income'].astype(float),
        locationmode = 'USA-states',
        text = median_inc_df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Income"
        )
    ) ]

# Set up layout dictionary for the visualization
layout = dict(
        title = '2012-2016 Median Household Income by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

# Name the figure as a dictionary of the 1) data dictionary and 2) layout dictonary 
fig = dict( data=data, layout=layout )


#save fig
pio.write_image(fig, 'Images/1216_median_income.png')

# Name the file for your inline viewing 
# url = py.iplot( fig, filename='d3-cloropleth-map' )
py.iplot(data, filename='d3-cloropleth-map-income')