In [60]:
import sys
!{sys.executable} -m pip install plotly
#!{sys.executable} -m pip install numpy
#!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install seaborn

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/d6/3b/abec247e24e2b8f29793811788fe0607062f40eefe3104823ad57f06ecf1/plotly-3.3.0-py2.py3-none-any.whl (37.3MB)
    100% |████████████████████████████████| 37.3MB 551kB/s ta 0:00:011
Requirement already satisfied: decorator>=4.0.6 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.3.0)
Requirement already satisfied: nbformat>=4.2 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.4.0)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from plotly) (1.11.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from plotly) (2.19.1)
Requirement already satisfied: pytz in /anaconda3/lib/python3.7/site-packages (from plotly) (2018.5)
Collecting retrying>=1.3.3 (from plotly)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (2.6.0)
Requirement already satisfied: jupyter-core in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.4.0)
Requirement already satisfied: traitlets>=4.1 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.3.2)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (0.2.0)
Requirement already satisfied: idna<2.8,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2018.8.24)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (1.23)
Building wheels for collected packages: retrying
  Running setup.py bdist_wheel for retrying ... done
  Stored in directory: /Users/dna/Library/Caches/pip/wheels/d7/a9/33/acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
Installing collected packages: retrying, plotly
Successfully installed plotly-3.3.0 retrying-1.3.3
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
#import json
import seaborn
import plotly.plotly as py
import plotly.graph_objs as go
import scipy
from plotly.tools import FigureFactory as FF

In [124]:
file = "../Desktop/debt_variable_2015.csv"
data = pd.read_csv(file)
data

             State  Debt at end of fiscal year
0    United States                  1150140105
1          Alabama                     9125828
2           Alaska                     5727891
3          Arizona                    14243659
4         Arkansas                     4985140
5       California                   151715007
6         Colorado                    16843571
7      Connecticut                    35351526
8         Delaware                     4964915
9          Florida                    33362901
10         Georgia                    13247675
11          Hawaii                     8757730
12           Idaho                     3685377
13        Illinois                    64212776
14         Indiana                    22463710
15            Iowa                     6223008
16          Kansas                     7581462
17        Kentucky                    13784882
18       Louisiana                    17616233
19           Maine                     5011671
20        Maryland                    26592571
21   Massachusetts                    75307661
22        Michigan                    33245109
23       Minnesota                    15862174
24     Mississippi                     7470450
25        Missouri                    19396172
26         Montana                     3206612
27        Nebraska                     1809126
28          Nevada                     3351972
29   New Hampshire                     8211178
30      New Jersey                    67167455
31      New Mexico                     6738313
32        New York                   137369589
33  North Carolina                    17514428
34    North Dakota                     2063788
35            Ohio                    33108954
36        Oklahoma                     8918175
37          Oregon                    13061182
38    Pennsylvania                    47920479
39    Rhode Island                     9004835
40  South Carolina                    15122266
41    South Dakota                     3346046
42       Tennessee                     6031121
43           Texas                    48038004
44            Utah                     7479978
45         Vermont                     3388764
46        Virginia                    28231613
47      Washington                    32231967
48   West Virginia                     7123763
49       Wisconsin                    22086615
50         Wyoming                      834783

In [119]:
#revenue = []
debt = []
#interest = []
states = []
#total_revenue = 2136635006
#total_interest = 44623911
total_debt = 1150140105

with open(file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)
    next(csvreader)
    for row in csvreader:
        states.append(row[0])
 #       revenue.append(row[1])
 #       interest.append((row[2]))
        debt.append(row[1])

In [120]:
total_states = len(states)
debt_states = states[0]
#revenue_states = states[0]
#max_revenue = revenue[0]
#min_revenue = revenue[0]
max_debt = debt[0]
min_debt = debt[0]

for x in range(len(revenue)):
#    if revenue[x] >= max_revenue:  
#        max_revenue = revenue[x]
#        max_revenue_state = states[x]
#    if revenue[x] <= min_revenue:
#        min_revenue = revenue[x]
#        min_revenue_state = states[x]
    if debt[x] >= max_debt:
        max_debt = debt[x]
        max_debt_state = states[x]
    if debt[x] <= min_debt:
        min_debt = debt[x]
        min_debt_state = states[x]

In [121]:
avg_revenue = total_revenue/total_states
avg_debt = total_debt/total_states
avg_interest = total_interest/total_states

avg_analysis = pd.DataFrame({"Number of States": [total_states],
#                               "Average Revenue per State": [avg_revenue],
                               "Average Debt per State": [avg_debt]},
#                               "Average Interest per State": [avg_interest]},
                     columns= ["Number of States",
#                               "Average Revenue per State",
                               "Average Debt per State"])
#                               "Average Interest per State"])

debt_analysis = pd.DataFrame({"State with most debt": [max_debt_state],
                               "Most Debt Amount": [max_debt],
                               "State with least debt": [min_debt_state],
                               "Least Debt Amount": [min_debt]},
                             columns = ["State with most debt",
                                        "Most Debt Amount",
                                        "State with least debt",
                                        "Least Debt Amount"])

#revenue_analysis = pd.DataFrame({"State with most revenue": [max_revenue_state],
#                               "Most Revenue Amount": [max_revenue],
#                               "State with least revenue": [min_revenue_state],
#                               "Least Revenue Amount": [min_revenue]},
#                             columns = ["State with most revenue",
#                                        "Most Revenue Amount",
#                                        "State with least revenue",
#                                        "Least Revenue Amount"])

In [122]:
avg_analysis

   Number of States  Average Debt per State
0                50              23002802.1

In [123]:
debt_analysis

,State with most debt,Most Debt Amount,State with least debt,Least Debt Amount
0,Alabama,9125828,Oregon,13061182

In [126]:
#Regions
#Northeast: Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont, New Jersey, New York, Pennsylvania
#Midwest: Illinois, Indiana, Michigan, Ohio, Wisconsin, Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, South Dakota
#South: Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, West Virginia, Alabama, Kentucky, Mississippi, Tennessee, Arkansas, Louisiana, Oklahoma, and Texas
#West: Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, Wyoming, Alaska, California, Hawaii, Oregon, and Washington

#Match Regions to States
#Pull Debt Values from corresponding states into region bin
#Calculate Region Averages
#Sample-T Test of Region Averages vs National Average


Northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 
             'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
Midwest = [Illinois, Indiana, Michigan, Ohio, Wisconsin, 
           Iowa, Kansas, Minnesota, Missouri, Nebraska, 
           North Dakota, South Dakota]
South = [Delaware, Florida, Georgia, Maryland, North Carolina, 
         South Carolina, Virginia, West Virginia, Alabama, Kentucky, 
         Mississippi, Tennessee, Arkansas, Louisiana, Oklahoma, Texas]
West = [Arizona, Colorado, Idaho, Montana, Nevada, 
        New Mexico, Utah, Wyoming, Alaska, California, 
        Hawaii, Oregon, Washington]

df[data['State'].str.match(Northeast)]

SyntaxError: invalid character in identifier (<ipython-input-126-fa06cc028845>, line 7)

In [116]:
#Grab State Debt Values
#Place State Debt Values on correct state in Heatmap


file = "../Desktop/debt_variable_2015.csv"
data = pd.read_csv(file)
#'list' object has no attribute 'columns'
for col in data.columns:
    data[col] = data[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

#list indices must be integers or slices, not str
data['text'] = data['State'] + '<br>'

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = data['State'],
        z = data['Debt at end of fiscal year'].astype(float),
        locationmode = 'USA-states',
        text = data['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '2016 US Debt by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='cufflinks/d3-cloropleth-map' )

Aw, snap! We didn't get a username with your request.

Don't have an account? https://plot.ly/api_signup

Questions? accounts@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.