In [60]:
import sys
!{sys.executable} -m pip install plotly
#!{sys.executable} -m pip install numpy
#!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install seaborn

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/d6/3b/abec247e24e2b8f29793811788fe0607062f40eefe3104823ad57f06ecf1/plotly-3.3.0-py2.py3-none-any.whl (37.3MB)
    100% |████████████████████████████████| 37.3MB 551kB/s ta 0:00:011
Requirement already satisfied: decorator>=4.0.6 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.3.0)
Requirement already satisfied: nbformat>=4.2 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.4.0)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from plotly) (1.11.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from plotly) (2.19.1)
Requirement already satisfied: pytz in /anaconda3/lib/python3.7/site-packages (from plotly) (2018.5)
Collecting retrying>=1.3.3 (from plotly)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (2.6.0)
Requirement already satisfied: jupyter-core in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.4.0)
Requirement already satisfied: traitlets>=4.1 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.3.2)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (0.2.0)
Requirement already satisfied: idna<2.8,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2018.8.24)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (1.23)
Building wheels for collected packages: retrying
  Running setup.py bdist_wheel for retrying ... done
  Stored in directory: /Users/dna/Library/Caches/pip/wheels/d7/a9/33/acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
Installing collected packages: retrying, plotly
Successfully installed plotly-3.3.0 retrying-1.3.3
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
#import json
import seaborn
import plotly.plotly as py

In [47]:
file = "../Desktop/state_debt_test_2016.csv"
data = pd.read_csv(file)
data.head()

,(Thousands of Dollars),Total revenue,Interest on general debt,Debt at end of fiscal year
0,United States,"2,136,635,006","44,623,911","1,160,488,556"
1,Alabama,"30,172,490","338,355","8,667,105"
2,Alaska,"8,071,732","181,709","5,953,933"
3,Arizona,"38,232,376","637,325","14,400,191"
4,Arkansas,"21,439,227","130,905","4,828,756"

In [62]:
revenue = []
debt = []
interest = []
states = []
total_revenue = 2136635006
total_interest = 44623911
total_debt = 1160488556

with open(file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)
    next(csvreader)
    for row in csvreader:
        states.append(row[0])
        revenue.append(row[1])
        interest.append((row[2]))
        debt.append(row[3])

#states

In [38]:
total_states = len(states)
debt_states = states[0]
revenue_states = states[0]
max_revenue = revenue[0]
min_revenue = revenue[0]
max_debt = debt[0]
min_debt = debt[0]
totalProfits = 0

for x in range(len(revenue)):
    if revenue[x] >= max_revenue:  
        max_revenue = revenue[x]
        max_revenue_state = states[x]
    if revenue[x] <= min_revenue:
        min_revenue = revenue[x]
        min_revenue_state = states[x]
    if debt[x] >= max_debt:
        max_debt = debt[x]
        max_debt_state = states[x]
    if debt[x] <= min_debt:
        min_debt = debt[x]
        min_debt_state = states[x]

In [55]:
avg_revenue = total_revenue/total_states
avg_debt = total_debt/total_states
avg_interest = total_interest/total_states

avg_analysis = pd.DataFrame({"Number of States": [total_states],
                               "Average Revenue per State": [avg_revenue],
                               "Average Debt per State": [avg_debt],
                               "Average Interest per State": [avg_interest]},
                     columns= ["Number of States",
                               "Average Revenue per State",
                               "Average Debt per State",
                               "Average Interest per State"])

debt_analysis = pd.DataFrame({"State with most debt": [max_debt_state],
                               "Most Debt Amount": [max_debt],
                               "State with least debt": [min_debt_state],
                               "Least Debt Amount": [min_debt]},
                             columns = ["State with most debt",
                                        "Most Debt Amount",
                                        "State with least debt",
                                        "Least Debt Amount"])

revenue_analysis = pd.DataFrame({"State with most revenue": [max_revenue_state],
                               "Most Revenue Amount": [max_revenue],
                               "State with least revenue": [min_revenue_state],
                               "Least Revenue Amount": [min_revenue]},
                             columns = ["State with most revenue",
                                        "Most Revenue Amount",
                                        "State with least revenue",
                                        "Least Revenue Amount"])

In [56]:
avg_analysis

,Number of States,Average Revenue per State,Average Debt per State,Average Interest per State
0,50,42732700.12,23209771.12,892478.22

In [57]:
debt_analysis

,State with most debt,Most Debt Amount,State with least debt,Least Debt Amount
0,Kansas,"9,537,833",Nebraska,"1,950,506"

In [58]:
revenue_analysis

,State with most revenue,Most Revenue Amount,State with least revenue,Least Revenue Amount
0,Pennsylvania,"90,792,145",Nebraska,"10,881,575"

In [64]:
#df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in data.columns:
    data[col] = data[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

data['text'] = data['(Thousands of Dollars)'] + '<br>' +\
    'Debt '+data['Debt at end of fiscal year']+' Revenue '+data['Total revenue']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = data['(Thousands of Dollars)'],
        z = data['total exports'].astype(float),
        locationmode = 'USA-states',
        text = data['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

KeyError: 'total exports'