In [9]:
#import sys
#!{sys.executable} -m pip install matplotlib
#!{sys.executable} -m pip install numpy
#!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install seaborn

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import os
#import json
import seaborn

In [11]:
file = "../Desktop/state_debt_test_2016.csv"
data = pd.read_csv(file)
data.head()

,(Thousands of Dollars),Total revenue,Interest on general debt,Debt at end of fiscal year
0,United States,"2,136,635,006","44,623,911","1,160,488,556"
1,Alabama,"30,172,490","338,355","8,667,105"
2,Alaska,"8,071,732","181,709","5,953,933"
3,Arizona,"38,232,376","637,325","14,400,191"
4,Arkansas,"21,439,227","130,905","4,828,756"

In [26]:
revenue = []
debt = []
interest = []
states = []
total_revenue = 2136635006
total_interest = 44623911
total_debt = 1160488556

with open(file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    next(csvreader)
    next(csvreader)
    for row in csvreader:
        states.append(row[0])
        revenue.append(row[1])
        interest.append((row[2]))
        debt.append(row[3])

#states

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [31]:
total_states = len(states)
debt_states = states[0]
revenue_states = states[0]
max_revenue = revenue[0]
min_revenue = revenue[0]
max_debt = debt[0]
min_debt = debt[0]
totalProfits = 0

for x in range(len(revenue)):
    if revenue[x] >= max_revenue:  
        max_revenue = revenue[x]
        max_revenue_state = states[x]
    if revenue[x] <= min_revenue:
        min_revenue = revenue[x]
        min_revenue_state = states[x]
    if debt[x] >= max_debt:
        max_debt = debt[x]
        max_debt_state = states[x]
    if debt[x] <= min_debt:
        min_debt = debt[x]
        min_debt_state = states[x]

avg_revenue = total_revenue/total_states
avg_debt = total_debt/total_states
avg_interest = total_interest/total_states

#print(avg_revenue)
#print(avg_debt)
#print(avg_interest)
#print(max_debt_state)
#print(max_debt)
#print(min_debt_state)
#print(min_debt)
#print(max_revenue_state)
#print(max_revenue)
#print(min_revenue_state)
#print(min_revenue)

42732700.12
23209771.12
892478.22