In [30]:
import pandas as pd
import numpy as np
import requests
import plotly
plotly.tools.set_credentials_file(username='chenjes160', api_key='RvB4aFiQ7htdqT0iYDNy')
import plotly.plotly as py
import plotly.io as pio

In [31]:
source_file_education = 'Resources/education/Current v Former 3.csv'

In [32]:
education_2015 = pd.read_csv(source_file_education,header=None)
education_2015.columns = ["state",'graduation rate','whatever']

In [33]:
education_2015 = education_2015.drop(education_2015.index[0])

education_2015.head(5)

      state graduation rate whatever
1  NATIONAL            84.1        5
2        AL            87.1       15
3        AK            76.1        8
4        AZ            79.5        2
5        AR              87        6

In [34]:
education_2015 = education_2015.iloc[1:]

In [35]:
education_2015.head()

  state graduation rate whatever
2    AL            87.1       15
3    AK            76.1        8
4    AZ            79.5        2
5    AR              87        6
6    CA              83        7

In [36]:
education_2015 = education_2015[['state','graduation rate']]

In [37]:
education_2015.head()

  state graduation rate
2    AL            87.1
3    AK            76.1
4    AZ            79.5
5    AR              87
6    CA              83

In [53]:

#For loop
for col in education_2015.columns:
    education_2015[col] = education_2015[col].astype(str)

#Set color groups for heat scale 
#scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
#  [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# Prepare data to put into text.
# Text variable will be inserted into 'data' dictionary below.
# These columns will appear in plotly.com hover feature.
education_2015['text'] = education_2015['state'] + '<br>' +\
    ' 2015 graudation rate ' + education_2015['graduation rate']

# Set up data dictionary to hold the data
data = [ dict(
        type='choropleth',
        colorscale = 'Blues',
        reversescale = True,
        autocolorscale = False,
        locations = education_2015['state'],
        z = education_2015['graduation rate'].astype(float),
        locationmode = 'USA-states',
        text = education_2015['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "High School Graduation Rate by State"
        )
    ) ]

# Set up layout dictionary for the visualization
layout = dict(
        title = '2015 High School Graduation Rate by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

# Name the figure as a dictionary of the 1) data dictionary and 2) layout dictonary 
fig = dict( data=data, layout=layout )

#save fig
pio.write_image(fig, '2015_hs_graduation_rate_pop.png')

# Name the file for your inline viewing 
# url = py.iplot( fig, filename='d3-cloropleth-map' )
py.iplot(data, filename='d3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~chenjes160/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'