In [44]:
import pandas as pd


source_file_2015 = 'Resources/employment/ACS_15_5YR_S2301_with_ann.csv'
source_file_2016 = 'Resources/employment/ACS_16_5YR_S2301_with_ann.csv'

In [45]:
data_2015 = pd.read_csv(source_file_2015)
data_2016 = pd.read_csv(source_file_2016)

In [50]:
data_2015 = data_2015[['GEO.display-label','HC02_EST_VC01']]
data_2015 = data_2015.drop(data_2015.index[0])
data_2015.columns = ['State', 'Employment Rate']
data_2015.head()

         State Employment Rate
3      Arizona            59.7
4     Arkansas            58.7
5   California            63.6
6     Colorado            68.4
7  Connecticut            67.5

In [51]:
data_2016 = data_2016[['GEO.display-label','HC02_EST_VC01']]
data_2016.head()
data_2016 = data_2016.drop(data_2016.index[0])
data_2016.columns = ['State', 'Employment Rate']
data_2016.head()

        State Employment Rate
1     Alabama            57.9
2      Alaska            70.4
3     Arizona            59.5
4    Arkansas            58.3
5  California            63.4