In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests

In [2]:
# Import incidents by state file as DataFrame
incidents_2015 = "Resources/hate_crime_by_state_2015.csv"
incidents_2016 = "Resources/hate_crime_by_state_2016.csv"
incidents_2015_df = pd.read_csv(incidents_2015)
incidents_2016_df = pd.read_csv(incidents_2016)

In [3]:
combined_incidents_df = pd.merge(incidents_2015_df, incidents_2016_df, how='outer', \
    on='Participating state')
combined_incidents_df.head()

,Participating state,Number of participating agencies_x,Population covered_x,Agencies submitting incident reports_x,Total number of incidents reported_x,Number of participating agencies_y,Population covered_y,Agencies submitting incident reports_y,Total number of incidents reported_y,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Alabama,34,"1,252,146",3.0,10.0,28,"1,013,839",4.0,14.0,NaN,NaN,NaN
1,Alaska,33,"734,820",4.0,8.0,32,"738,566",3.0,11.0,NaN,NaN,NaN
2,Arizona,101,"6,622,880",21.0,276.0,85,"6,361,910",18.0,213.0,NaN,NaN,NaN
3,Arkansas,279,"2,754,543",4.0,5.0,288,"2,853,645",5.0,12.0,NaN,NaN,NaN
4,California,730,"39,137,326",213.0,837.0,733,"39,242,633",213.0,931.0,NaN,NaN,NaN

In [4]:
combined_incidents_df.rename(columns=
    {'Population\ncovered_x':"2015 Population",
    'Total\nnumber of\nincidents\nreported_x':'2015 Incidents',
    'Population\ncovered_y':'2016 Population',
    'Total\nnumber of\nincidents\nreported_y':'2016 Incidents'}, inplace=True)
combined_incidents_df.columns

Index(['Participating state', 'Number of\nparticipating\nagencies_x',
       '2015 Population', 'Agencies\nsubmitting\nincident\nreports_x',
       '2015 Incidents', 'Number of\nparticipating\nagencies_y',
       '2016 Population', 'Agencies\nsubmitting\nincident\nreports_y',
       '2016 Incidents', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [7]:
condensed= combined_incidents_df.drop(columns=[
    'Number of\nparticipating\nagencies_x', \
    'Agencies\nsubmitting\nincident\nreports_x',\
    'Number of\nparticipating\nagencies_y',\
    'Agencies\nsubmitting\nincident\nreports_y',
    'Unnamed: 5','Unnamed: 6','Unnamed: 7'])
condensed

,Participating state,2015 Population,2015 Incidents,2016 Population,2016 Incidents
0,Alabama,"1,252,146",10.0,"1,013,839",14.0
1,Alaska,"734,820",8.0,"738,566",11.0
2,Arizona,"6,622,880",276.0,"6,361,910",213.0
3,Arkansas,"2,754,543",5.0,"2,853,645",12.0
4,California,"39,137,326",837.0,"39,242,633",931.0
5,Colorado,"5,445,853",107.0,"5,519,770",104.0
6,Connecticut,"3,399,068",93.0,"3,576,452",106.0
7,Delaware,"945,934",11.0,"952,065",15.0
8,District of Columbia,"672,228",65.0,"681,170",115.0
9,Florida,"5,356,877",72.0,"8,988,095",96.0
10,Georgia,"7,991,234",44.0,"8,216,137",39.0
11,Idaho,"1,654,475",34.0,"1,683,140",27.0
12,Illinois,"12,501,008",90.0,"12,373,460",111.0
13,Indiana,"3,224,755",63.0,"2,874,580",78.0
14,Iowa,"3,105,094",6.0,"3,113,786",17.0
15,Kansas,"2,741,323",62.0,"2,591,338",49.0
16,Kentucky,"4,402,368",188.0,"4,427,530",206.0
17,Louisiana,"3,711,824",38.0,"3,560,451",26.0
18,Maine,"1,329,328",38.0,"1,331,479",40.0
19,Maryland,"6,006,401",41.0,"6,016,447",37.0
20,Massachusetts,"6,566,279",411.0,"6,637,616",391.0
21,Michigan,"9,834,270",309.0,"9,847,710",399.0
22,Minnesota,"5,218,435",109.0,"5,178,985",119.0
23,Mississippi,"763,830",0.0,"585,454",7.0
24,Missouri,"6,079,483",100.0,"6,089,857",88.0
25,Montana,"1,023,807",45.0,"1,042,048",20.0
26,Nebraska,"1,821,196",19.0,"1,846,626",31.0
27,Nevada,"2,890,845",58.0,"2,940,058",41.0
28,New Hampshire,"1,267,715",13.0,"1,275,170",28.0
29,New Jersey,"8,956,395",330.0,"8,942,857",282.0
30,New Mexico,"574,972",13.0,"576,958",26.0
31,New York,"19,766,342",500.0,"19,738,790",595.0
32,North Carolina,"10,041,690",161.0,"10,145,637",148.0
33,North Dakota,"756,927",36.0,"757,493",8.0
34,Ohio,"9,781,677",416.0,"9,573,452",442.0
35,Oklahoma,"3,896,985",37.0,"3,869,095",33.0
36,Oregon,"1,671,416",65.0,"3,547,910",104.0
37,Pennsylvania,"12,550,581",64.0,"12,644,372",61.0
38,Rhode Island,"1,056,298",18.0,"1,056,426",12.0
39,South Carolina,"4,826,241",55.0,"4,936,962",23.0
40,South Dakota,"782,152",16.0,"787,337",18.0
41,Tennessee,"6,600,299",221.0,"6,651,194",142.0
42,Texas,"27,390,337",191.0,"27,862,596",178.0
43,Utah,"2,966,781",47.0,"3,014,190",66.0
44,Vermont,"626,042",8.0,"624,594",25.0
45,Virginia,"8,380,278",158.0,"8,411,424",122.0
46,Washington,"7,163,444",275.0,"7,282,106",387.0
47,West Virginia,"1,494,503",41.0,"1,621,366",41.0
48,Wisconsin,"5,580,752",43.0,"5,652,781",34.0
49,Wyoming,"564,577",2.0,"556,446",3.0
50,Guam1,NaN,1.0,NaN,NaN
51,U.S. Virgin Islands1,NaN,0.0,NaN,NaN
52,1 The 2015 population estimates were not avail...,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN

In [12]:
condensed.drop([51,52, 53])

,Participating state,2015 Population,2015 Incidents,2016 Population,2016 Incidents
0,Alabama,"1,252,146",10.0,"1,013,839",14.0
1,Alaska,"734,820",8.0,"738,566",11.0
2,Arizona,"6,622,880",276.0,"6,361,910",213.0
3,Arkansas,"2,754,543",5.0,"2,853,645",12.0
4,California,"39,137,326",837.0,"39,242,633",931.0
5,Colorado,"5,445,853",107.0,"5,519,770",104.0
6,Connecticut,"3,399,068",93.0,"3,576,452",106.0
7,Delaware,"945,934",11.0,"952,065",15.0
8,District of Columbia,"672,228",65.0,"681,170",115.0
9,Florida,"5,356,877",72.0,"8,988,095",96.0
10,Georgia,"7,991,234",44.0,"8,216,137",39.0
11,Idaho,"1,654,475",34.0,"1,683,140",27.0
12,Illinois,"12,501,008",90.0,"12,373,460",111.0
13,Indiana,"3,224,755",63.0,"2,874,580",78.0
14,Iowa,"3,105,094",6.0,"3,113,786",17.0
15,Kansas,"2,741,323",62.0,"2,591,338",49.0
16,Kentucky,"4,402,368",188.0,"4,427,530",206.0
17,Louisiana,"3,711,824",38.0,"3,560,451",26.0
18,Maine,"1,329,328",38.0,"1,331,479",40.0
19,Maryland,"6,006,401",41.0,"6,016,447",37.0
20,Massachusetts,"6,566,279",411.0,"6,637,616",391.0
21,Michigan,"9,834,270",309.0,"9,847,710",399.0
22,Minnesota,"5,218,435",109.0,"5,178,985",119.0
23,Mississippi,"763,830",0.0,"585,454",7.0
24,Missouri,"6,079,483",100.0,"6,089,857",88.0
25,Montana,"1,023,807",45.0,"1,042,048",20.0
26,Nebraska,"1,821,196",19.0,"1,846,626",31.0
27,Nevada,"2,890,845",58.0,"2,940,058",41.0
28,New Hampshire,"1,267,715",13.0,"1,275,170",28.0
29,New Jersey,"8,956,395",330.0,"8,942,857",282.0
30,New Mexico,"574,972",13.0,"576,958",26.0
31,New York,"19,766,342",500.0,"19,738,790",595.0
32,North Carolina,"10,041,690",161.0,"10,145,637",148.0
33,North Dakota,"756,927",36.0,"757,493",8.0
34,Ohio,"9,781,677",416.0,"9,573,452",442.0
35,Oklahoma,"3,896,985",37.0,"3,869,095",33.0
36,Oregon,"1,671,416",65.0,"3,547,910",104.0
37,Pennsylvania,"12,550,581",64.0,"12,644,372",61.0
38,Rhode Island,"1,056,298",18.0,"1,056,426",12.0
39,South Carolina,"4,826,241",55.0,"4,936,962",23.0
40,South Dakota,"782,152",16.0,"787,337",18.0
41,Tennessee,"6,600,299",221.0,"6,651,194",142.0
42,Texas,"27,390,337",191.0,"27,862,596",178.0
43,Utah,"2,966,781",47.0,"3,014,190",66.0
44,Vermont,"626,042",8.0,"624,594",25.0
45,Virginia,"8,380,278",158.0,"8,411,424",122.0
46,Washington,"7,163,444",275.0,"7,282,106",387.0
47,West Virginia,"1,494,503",41.0,"1,621,366",41.0
48,Wisconsin,"5,580,752",43.0,"5,652,781",34.0
49,Wyoming,"564,577",2.0,"556,446",3.0
50,Guam1,NaN,1.0,NaN,NaN

In [13]:
condensed.dropna()

,Participating state,2015 Population,2015 Incidents,2016 Population,2016 Incidents
0,Alabama,"1,252,146",10.0,"1,013,839",14.0
1,Alaska,"734,820",8.0,"738,566",11.0
2,Arizona,"6,622,880",276.0,"6,361,910",213.0
3,Arkansas,"2,754,543",5.0,"2,853,645",12.0
4,California,"39,137,326",837.0,"39,242,633",931.0
5,Colorado,"5,445,853",107.0,"5,519,770",104.0
6,Connecticut,"3,399,068",93.0,"3,576,452",106.0
7,Delaware,"945,934",11.0,"952,065",15.0
8,District of Columbia,"672,228",65.0,"681,170",115.0
9,Florida,"5,356,877",72.0,"8,988,095",96.0
10,Georgia,"7,991,234",44.0,"8,216,137",39.0
11,Idaho,"1,654,475",34.0,"1,683,140",27.0
12,Illinois,"12,501,008",90.0,"12,373,460",111.0
13,Indiana,"3,224,755",63.0,"2,874,580",78.0
14,Iowa,"3,105,094",6.0,"3,113,786",17.0
15,Kansas,"2,741,323",62.0,"2,591,338",49.0
16,Kentucky,"4,402,368",188.0,"4,427,530",206.0
17,Louisiana,"3,711,824",38.0,"3,560,451",26.0
18,Maine,"1,329,328",38.0,"1,331,479",40.0
19,Maryland,"6,006,401",41.0,"6,016,447",37.0
20,Massachusetts,"6,566,279",411.0,"6,637,616",391.0
21,Michigan,"9,834,270",309.0,"9,847,710",399.0
22,Minnesota,"5,218,435",109.0,"5,178,985",119.0
23,Mississippi,"763,830",0.0,"585,454",7.0
24,Missouri,"6,079,483",100.0,"6,089,857",88.0
25,Montana,"1,023,807",45.0,"1,042,048",20.0
26,Nebraska,"1,821,196",19.0,"1,846,626",31.0
27,Nevada,"2,890,845",58.0,"2,940,058",41.0
28,New Hampshire,"1,267,715",13.0,"1,275,170",28.0
29,New Jersey,"8,956,395",330.0,"8,942,857",282.0
30,New Mexico,"574,972",13.0,"576,958",26.0
31,New York,"19,766,342",500.0,"19,738,790",595.0
32,North Carolina,"10,041,690",161.0,"10,145,637",148.0
33,North Dakota,"756,927",36.0,"757,493",8.0
34,Ohio,"9,781,677",416.0,"9,573,452",442.0
35,Oklahoma,"3,896,985",37.0,"3,869,095",33.0
36,Oregon,"1,671,416",65.0,"3,547,910",104.0
37,Pennsylvania,"12,550,581",64.0,"12,644,372",61.0
38,Rhode Island,"1,056,298",18.0,"1,056,426",12.0
39,South Carolina,"4,826,241",55.0,"4,936,962",23.0
40,South Dakota,"782,152",16.0,"787,337",18.0
41,Tennessee,"6,600,299",221.0,"6,651,194",142.0
42,Texas,"27,390,337",191.0,"27,862,596",178.0
43,Utah,"2,966,781",47.0,"3,014,190",66.0
44,Vermont,"626,042",8.0,"624,594",25.0
45,Virginia,"8,380,278",158.0,"8,411,424",122.0
46,Washington,"7,163,444",275.0,"7,282,106",387.0
47,West Virginia,"1,494,503",41.0,"1,621,366",41.0
48,Wisconsin,"5,580,752",43.0,"5,652,781",34.0
49,Wyoming,"564,577",2.0,"556,446",3.0