# 2012 - 2016 Hate Crime Incidents by State Heatmap

Read in 2012, 2013, 2014, 2015 and 2016 Hate Crime Incidents by State from FBI, and create a heat map by US State.
Incidents are normalized by population coverage of reporting agencies.

In [1]:
# Dependencies:
# First you need to pip install plotly and create free account online for 4the api key. 
# Second you need to pip install Orca.
# Then you can call plotly as py and orca as pio.
import pandas as pd
import numpy as np
import requests
import plotly
plotly.tools.set_credentials_file(username='drbeaman', api_key='sT7AGDihwOZJVDF5iwhl')
import plotly.plotly as py
import plotly.io as pio

In [2]:
# Import incidents by state file as DataFrame
incidents_2012 = "Resources/hate_crime_by_state_2012.csv"
incidents_2013 = "Resources/hate_crime_by_state_2013.csv"
incidents_2014 = "Resources/hate_crime_by_state_2014.csv"
incidents_2015 = "Resources/hate_crime_by_state_2015.csv"
incidents_2016 = "Resources/hate_crime_by_state_2016.csv"
incidents_2012_df = pd.read_csv(incidents_2012)
incidents_2013_df = pd.read_csv(incidents_2013)
incidents_2014_df = pd.read_csv(incidents_2014)
incidents_2015_df = pd.read_csv(incidents_2015)
incidents_2016_df = pd.read_csv(incidents_2016)

In [3]:
# Merge the data sets for two pairs at a time
combined_incidents_df_1516 = pd.merge(incidents_2015_df, incidents_2016_df, how='outer', \
    on='Participating state')
combined_incidents_df_1516.head()

,State code_x,Participating state,Number of participating agencies_x,Population covered_x,Agencies submitting incident reports_x,Total number of incidents reported_x,Incidents by Normalized Population_x,State code_y,Number of participating agencies_y,Population covered_y,Agencies submitting incident reports_y,Total number of incidents reported_y,Incidents by Normalized Population_y,Unnamed: 7,Unnamed: 8
0,AL,Alabama,34,"1,252,146",3,10,7.986289,AL,28,"1,013,839",4,14,13.808899,NaN,NaN
1,AK,Alaska,33,"734,820",4,8,10.887020,AK,32,"738,566",3,11,14.893726,NaN,NaN
2,AZ,Arizona,101,"6,622,880",21,276,41.673713,AZ,85,"6,361,910",18,213,33.480511,NaN,NaN
3,AR,Arkansas,279,"2,754,543",4,5,1.815183,AR,288,"2,853,645",5,12,4.205148,NaN,NaN
4,CA,California,730,"39,137,326",213,837,21.386234,CA,733,"39,242,633",213,931,23.724198,NaN,NaN

In [4]:
# Check the data types to see exact names of columns to rename
combined_incidents_df_1516.dtypes

State code_x                                  object
Participating state                           object
Number of\nparticipating\nagencies_x          object
Population\ncovered_x                         object
Agencies\nsubmitting\nincident\nreports_x      int64
Total\nnumber of\nincidents\nreported_x        int64
Incidents by Normalized Population_x         float64
State code_y                                  object
Number of\nparticipating\nagencies_y          object
Population\ncovered_y                         object
Agencies\nsubmitting\nincident\nreports_y      int64
Total\nnumber of\nincidents\nreported_y        int64
Incidents by Normalized Population_y         float64
Unnamed: 7                                   float64
Unnamed: 8                                    object
dtype: object

In [5]:
# Drop unnecessary columns
condensed_1516= combined_incidents_df_1516.drop(columns=[
    'State code_y', \
    'Number of\nparticipating\nagencies_x', \
    'Agencies\nsubmitting\nincident\nreports_x',\
    'Number of\nparticipating\nagencies_y',\
    'Agencies\nsubmitting\nincident\nreports_y',
    'Unnamed: 7','Unnamed: 8'])
condensed_1516.head()

,State code_x,Participating state,Population covered_x,Total number of incidents reported_x,Incidents by Normalized Population_x,Population covered_y,Total number of incidents reported_y,Incidents by Normalized Population_y
0,AL,Alabama,"1,252,146",10,7.986289,"1,013,839",14,13.808899
1,AK,Alaska,"734,820",8,10.887020,"738,566",11,14.893726
2,AZ,Arizona,"6,622,880",276,41.673713,"6,361,910",213,33.480511
3,AR,Arkansas,"2,754,543",5,1.815183,"2,853,645",12,4.205148
4,CA,California,"39,137,326",837,21.386234,"39,242,633",931,23.724198

In [6]:
#Rename columns
condensed_1516.rename(columns=
    {'State code_x':'State code','Population\ncovered_x':'2015 Population',\
     'Total\nnumber of\nincidents\nreported_x':'2015 Incidents',\
     'Incidents by Normalized Population_x':"2015 Incidents by Normalized Population",\
     'Population\ncovered_y':'2016 Population',\
     'Total\nnumber of\nincidents\nreported_y':'2016 Incidents',\
     'Incidents by Normalized Population_y':"2016 Incidents by Normalized Population"}, inplace=True)
condensed_1516.columns

Index(['State code', 'Participating state', '2015 Population',
       '2015 Incidents', '2015 Incidents by Normalized Population',
       '2016 Population', '2016 Incidents',
       '2016 Incidents by Normalized Population'],
      dtype='object')

In [7]:
# Preview DataFrame
condensed_1516.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10,7.986289,"1,013,839",14,13.808899
1,AK,Alaska,"734,820",8,10.887020,"738,566",11,14.893726
2,AZ,Arizona,"6,622,880",276,41.673713,"6,361,910",213,33.480511
3,AR,Arkansas,"2,754,543",5,1.815183,"2,853,645",12,4.205148
4,CA,California,"39,137,326",837,21.386234,"39,242,633",931,23.724198

In [8]:
# Merge 2014 data in
combined_incidents_df_1416 = pd.merge(condensed_1516, incidents_2014_df, how='outer', \
    on='Participating state')
combined_incidents_df_1416.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,State code_y,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported,Incidents by Normalized Population,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,AL,39,"794,907",4.0,9.0,11.322079,NaN,NaN,NaN
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,AK,33,"732,371",1.0,6.0,8.192569,NaN,NaN,NaN
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,AZ,99,"6,433,584",22.0,265.0,41.190105,NaN,NaN,NaN
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,AR,270,"2,661,818",5.0,8.0,3.005465,NaN,NaN,NaN
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,CA,743,"38,802,500",208.0,759.0,19.560595,NaN,NaN,NaN

In [9]:
# Check the data types to see exact names of columns to rename
combined_incidents_df_1416.dtypes

State code_x                                object
Participating state                         object
2015 Population                             object
2015 Incidents                             float64
2015 Incidents by Normalized Population    float64
2016 Population                             object
2016 Incidents                             float64
2016 Incidents by Normalized Population    float64
State code_y                                object
Number of\nparticipating\nagencies          object
Population\ncovered                         object
Agencies\nsubmitting\nincident\nreports    float64
Total\nnumber of\nincidents\nreported      float64
Incidents by Normalized Population         float64
Unnamed: 7                                 float64
Unnamed: 8                                 float64
Unnamed: 9                                  object
dtype: object

In [10]:
# Drop unnecessary columns
condensed_1416= combined_incidents_df_1416.drop(columns=[
    'State code_y', \
    'Number of\nparticipating\nagencies', \
    'Agencies\nsubmitting\nincident\nreports',\
    'Unnamed: 7','Unnamed: 8','Unnamed: 9'])
condensed_1416.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,Population covered,Total number of incidents reported,Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595

In [11]:
#Rename columns
condensed_1416.rename(columns=
    {'State code_x':'State code',\
     'Population\ncovered':'2014 Population',\
     'Total\nnumber of\nincidents\nreported':'2014 Incidents',\
     'Incidents by Normalized Population':"2014 Incidents by Normalized Population"}, inplace=True)
condensed_1416.columns

Index(['State code', 'Participating state', '2015 Population',
       '2015 Incidents', '2015 Incidents by Normalized Population',
       '2016 Population', '2016 Incidents',
       '2016 Incidents by Normalized Population', '2014 Population',
       '2014 Incidents', '2014 Incidents by Normalized Population'],
      dtype='object')

In [12]:
condensed_1416.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595

In [13]:
# Merge 2013 data in
combined_incidents_df_1316 = pd.merge(condensed_1416, incidents_2013_df, how='outer', \
    on='Participating state')
combined_incidents_df_1316.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,State code_y,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported,Incidents by Normalized Population,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,AL,48,"1,147,612",4.0,6.0,5.228248,NaN,NaN,NaN
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,AK,33,"730,950",1.0,8.0,10.944661,NaN,NaN,NaN
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,AZ,81,"6,358,545",21.0,155.0,24.376646,NaN,NaN,NaN
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,AR,265,"2,809,536",20.0,27.0,9.610128,NaN,NaN,NaN
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,CA,732,"38,324,460",229.0,843.0,21.996396,NaN,NaN,NaN

In [14]:
# Check the data types to see exact names of columns to rename
combined_incidents_df_1316.dtypes

State code_x                                object
Participating state                         object
2015 Population                             object
2015 Incidents                             float64
2015 Incidents by Normalized Population    float64
2016 Population                             object
2016 Incidents                             float64
2016 Incidents by Normalized Population    float64
2014 Population                             object
2014 Incidents                             float64
2014 Incidents by Normalized Population    float64
State code_y                                object
Number of\nparticipating\nagencies          object
Population\ncovered                         object
Agencies\nsubmitting\nincident\nreports    float64
Total\nnumber of\nincidents\nreported      float64
Incidents by Normalized Population         float64
Unnamed: 7                                 float64
Unnamed: 8                                 float64
Unnamed: 9                                  object
dtype: object

In [15]:
# Drop unnecessary columns
condensed_1316= combined_incidents_df_1316.drop(columns=[
    'State code_y', \
    'Number of\nparticipating\nagencies', \
    'Agencies\nsubmitting\nincident\nreports',\
    'Unnamed: 7','Unnamed: 8','Unnamed: 9'])
condensed_1316.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,Population covered,Total number of incidents reported,Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396

In [16]:
#Rename columns
condensed_1316.rename(columns=
    {'State code_x':'State code',\
     'Population\ncovered':'2013 Population',\
     'Total\nnumber of\nincidents\nreported':'2013 Incidents',\
     'Incidents by Normalized Population':"2013 Incidents by Normalized Population"}, inplace=True)
condensed_1316.columns

Index(['State code', 'Participating state', '2015 Population',
       '2015 Incidents', '2015 Incidents by Normalized Population',
       '2016 Population', '2016 Incidents',
       '2016 Incidents by Normalized Population', '2014 Population',
       '2014 Incidents', '2014 Incidents by Normalized Population',
       '2013 Population', '2013 Incidents',
       '2013 Incidents by Normalized Population'],
      dtype='object')

In [17]:
condensed_1316.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,2013 Population,2013 Incidents,2013 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396

In [18]:
# Merge 2012 data in
combined_incidents_df_1216 = pd.merge(condensed_1316, incidents_2012_df, how='outer', \
    on='Participating state')
combined_incidents_df_1216.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,...,2013 Incidents by Normalized Population,State code_y,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported,Incidents by Normalized Population,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,...,5.228248,AL,8,"141,235",1.0,6.0,42.482388,NaN,NaN,NaN
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,...,10.944661,AK,5,"315,266",1.0,6.0,19.031548,NaN,NaN,NaN
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,...,24.376646,AZ,81,"5,974,180",22.0,176.0,29.460110,NaN,NaN,NaN
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,...,9.610128,AR,265,"2,748,544",17.0,30.0,10.914870,NaN,NaN,NaN
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,...,21.996396,CA,731,"37,933,751",247.0,910.0,23.989191,NaN,NaN,NaN

In [19]:
# Check the data types to see exact names of columns to rename
combined_incidents_df_1216.dtypes

State code_x                                object
Participating state                         object
2015 Population                             object
2015 Incidents                             float64
2015 Incidents by Normalized Population    float64
2016 Population                             object
2016 Incidents                             float64
2016 Incidents by Normalized Population    float64
2014 Population                             object
2014 Incidents                             float64
2014 Incidents by Normalized Population    float64
2013 Population                             object
2013 Incidents                             float64
2013 Incidents by Normalized Population    float64
State code_y                                object
Number of\nparticipating\nagencies          object
Population\ncovered                         object
Agencies\nsubmitting\nincident\nreports    float64
Total\nnumber of\nincidents\nreported      float64
Incidents by Normalized Population         float64
Unnamed: 7                                 float64
Unnamed: 8                                 float64
Unnamed: 9                                  object
dtype: object

In [20]:
# Drop unnecessary columns
condensed_1216= combined_incidents_df_1216.drop(columns=[
    'State code_y', \
    'Number of\nparticipating\nagencies', \
    'Agencies\nsubmitting\nincident\nreports',\
    'Unnamed: 7','Unnamed: 8','Unnamed: 9'])
condensed_1216.head()

,State code_x,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,2013 Population,2013 Incidents,2013 Incidents by Normalized Population,Population covered,Total number of incidents reported,Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248,"141,235",6.0,42.482388
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661,"315,266",6.0,19.031548
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646,"5,974,180",176.0,29.460110
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128,"2,748,544",30.0,10.914870
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396,"37,933,751",910.0,23.989191

In [21]:
#Rename columns
condensed_1216.rename(columns=
    {'State code_x':'State code',\
     'Population\ncovered':'2012 Population',\
     'Total\nnumber of\nincidents\nreported':'2012 Incidents',\
     'Incidents by Normalized Population':"2012 Incidents by Normalized Population"}, inplace=True)
condensed_1216.columns

Index(['State code', 'Participating state', '2015 Population',
       '2015 Incidents', '2015 Incidents by Normalized Population',
       '2016 Population', '2016 Incidents',
       '2016 Incidents by Normalized Population', '2014 Population',
       '2014 Incidents', '2014 Incidents by Normalized Population',
       '2013 Population', '2013 Incidents',
       '2013 Incidents by Normalized Population', '2012 Population',
       '2012 Incidents', '2012 Incidents by Normalized Population'],
      dtype='object')

In [22]:
condensed_1216.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,2013 Population,2013 Incidents,2013 Incidents by Normalized Population,2012 Population,2012 Incidents,2012 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248,"141,235",6.0,42.482388
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661,"315,266",6.0,19.031548
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646,"5,974,180",176.0,29.460110
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128,"2,748,544",30.0,10.914870
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396,"37,933,751",910.0,23.989191

In [23]:
#Calculate Average Incident Rate by Normalized Population
condensed_1216['1216 Incident Avg by Normalized Population'] = \
    condensed_1216.loc[:,['2012 Incidents by Normalized Population','2013 Incidents by Normalized Population',\
    '2014 Incidents by Normalized Population','2015 Incidents by Normalized Population',\
    '2016 Incidents by Normalized Population']].mean(axis=1)

In [24]:
condensed_1216

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,2013 Population,2013 Incidents,2013 Incidents by Normalized Population,2012 Population,2012 Incidents,2012 Incidents by Normalized Population,1216 Incident Avg by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248,"141,235",6.0,42.482388,16.165580
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661,"315,266",6.0,19.031548,12.789905
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646,"5,974,180",176.0,29.460110,34.036217
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128,"2,748,544",30.0,10.914870,5.910159
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396,"37,933,751",910.0,23.989191,22.131323
5,CO,Colorado,"5,445,853",107.0,19.647978,"5,519,770",104.0,18.841365,"5,268,592",96.0,18.221187,"5,163,276",128.0,24.790462,"5,109,141",189.0,36.992520,23.698702
6,CT,Connecticut,"3,399,068",93.0,27.360441,"3,576,452",106.0,29.638312,"3,375,662",123.0,36.437297,"3,566,367",145.0,40.657622,"3,574,937",149.0,41.679056,35.154546
7,DE,Delaware,"945,934",11.0,11.628718,"952,065",15.0,15.755227,"935,614",13.0,13.894619,"925,749",12.0,12.962477,"917,092",10.0,10.904031,13.029014
8,FL,Florida,"5,356,877",72.0,13.440667,"8,988,095",96.0,10.680795,"19,794,279",65.0,3.283777,"19,455,529",76.0,3.906345,"19,224,398",144.0,7.490482,7.760413
9,GA,Georgia,"7,991,234",44.0,5.506033,"8,216,137",39.0,4.746756,"8,204,655",41.0,4.997163,"7,817,674",57.0,7.291171,"7,696,372",21.0,2.728558,5.053936
10,ID,Idaho,"1,654,475",34.0,20.550326,"1,683,140",27.0,16.041446,"1,634,011",25.0,15.299775,"1,611,676",32.0,19.855107,"1,595,241",35.0,21.940259,18.737382
11,IL,Illinois,"12,501,008",90.0,7.199419,"12,373,460",111.0,8.970813,"12,029,618",109.0,9.060969,"12,269,532",105.0,8.557784,"12,297,695",84.0,6.830548,8.123907
12,IN,Indiana,"3,224,755",63.0,19.536368,"2,874,580",78.0,27.134399,"6,093,574",50.0,8.205365,"4,034,953",75.0,18.587577,"2,684,625",37.0,13.782186,17.449179
13,IA,Iowa,"3,105,094",6.0,1.932309,"3,113,786",17.0,5.459592,"2,974,604",11.0,3.697971,"2,958,457",10.0,3.380140,"2,935,796",8.0,2.724985,3.438999
14,KS,Kansas,"2,741,323",62.0,22.616817,"2,591,338",49.0,18.909150,"2,843,179",73.0,25.675485,"2,665,446",64.0,24.010991,"2,258,766",81.0,35.860288,25.414546
15,KY,Kentucky,"4,402,368",188.0,42.704290,"4,427,530",206.0,46.527070,"4,386,536",163.0,37.159162,"4,334,254",171.0,39.453156,"3,653,352",203.0,55.565410,44.281818
16,LA,Louisiana,"3,711,824",38.0,10.237554,"3,560,451",26.0,7.302446,"2,706,155",9.0,3.325752,"3,237,092",22.0,6.796223,"2,213,017",4.0,1.807487,5.893892
17,ME,Maine,"1,329,328",38.0,28.585872,"1,331,479",40.0,30.041781,"1,330,089",28.0,21.051223,"1,328,302",25.0,18.821021,"1,329,192",52.0,39.121511,27.524282
18,MD,Maryland,"6,006,401",41.0,6.826051,"6,016,447",37.0,6.149809,"5,976,407",16.0,2.677194,"5,928,814",51.0,8.602058,"5,884,563",35.0,5.947765,6.040575
19,MA,Massachusetts,"6,566,279",411.0,62.592528,"6,637,616",391.0,58.906692,"6,485,973",375.0,57.817077,"6,496,451",350.0,53.875570,"5,736,749",191.0,33.294118,53.297197
20,MI,Michigan,"9,834,270",309.0,31.420736,"9,847,710",399.0,40.517034,"9,732,430",311.0,31.955020,"9,733,958",329.0,33.799201,"9,666,469",617.0,63.828891,40.304176
21,MN,Minnesota,"5,218,435",109.0,20.887488,"5,178,985",119.0,22.977475,"5,287,138",98.0,18.535548,"4,904,213",144.0,29.362509,"3,834,480",72.0,18.776992,22.108003
22,MS,Mississippi,"763,830",0.0,0.000000,"585,454",7.0,11.956533,"1,349,655",1.0,0.740930,"1,497,332",4.0,2.671418,"707,165",18.0,25.453748,8.164526
23,MO,Missouri,"6,079,483",100.0,16.448767,"6,089,857",88.0,14.450257,"6,061,406",76.0,12.538345,"6,040,074",102.0,16.887210,"6,019,690",104.0,17.276637,15.520243
24,MT,Montana,"1,023,807",45.0,43.953597,"1,042,048",20.0,19.192974,"992,702",30.0,30.220550,"1,000,016",31.0,30.999504,"995,410",36.0,36.166002,32.106525
25,NE,Nebraska,"1,821,196",19.0,10.432705,"1,846,626",31.0,16.787373,"1,763,318",47.0,26.654296,"1,511,235",36.0,23.821576,"673,815",9.0,13.356782,18.210546
26,NV,Nevada,"2,890,845",58.0,20.063338,"2,940,058",41.0,13.945303,"2,834,483",24.0,8.467153,"2,229,342",73.0,32.745088,"2,195,232",91.0,41.453477,23.334872
27,NH,New Hampshire,"1,267,715",13.0,10.254671,"1,275,170",28.0,21.957857,"1,238,190",14.0,11.306827,"1,178,087",21.0,17.825509,"1,186,056",29.0,24.450785,17.159130
28,NJ,New Jersey,"8,956,395",330.0,36.845182,"8,942,857",282.0,31.533547,"8,936,591",336.0,37.598230,"8,898,292",414.0,46.525783,"4,266,123",505.0,118.374459,54.175440
29,NM,New Mexico,"574,972",13.0,22.609797,"576,958",26.0,45.063939,"717,010",13.0,18.130849,"888,880",12.0,13.500135,"223,466",2.0,8.949907,21.650925
30,NY,New York,"19,766,342",500.0,25.295525,"19,738,790",595.0,30.143692,"19,652,379",545.0,27.732011,"19,515,678",615.0,31.513125,"19,222,847",715.0,37.195323,30.375935
31,NC,North Carolina,"10,041,690",161.0,16.033158,"10,145,637",148.0,14.587551,"9,942,854",140.0,14.080464,"9,845,983",118.0,11.984583,"9,750,451",119.0,12.204564,13.778064
32,ND,North Dakota,"756,927",36.0,47.560729,"757,493",8.0,10.561154,"738,176",40.0,54.187619,"722,021",51.0,70.635065,"689,607",41.0,59.454153,48.479744
33,OH,Ohio,"9,781,677",416.0,42.528495,"9,573,452",442.0,46.169344,"9,711,237",403.0,41.498318,"10,376,248",370.0,35.658361,"9,841,632",257.0,26.113555,38.393615
34,OK,Oklahoma,"3,896,985",37.0,9.494519,"3,869,095",33.0,8.529126,"3,878,051",33.0,8.509429,"3,850,568",41.0,10.647780,"1,363,283",21.0,15.403992,10.516969
35,OR,Oregon,"1,671,416",65.0,38.889181,"3,547,910",104.0,29.313032,"1,526,458",26.0,17.032896,"2,301,273",66.0,28.679779,"2,015,920",52.0,25.794674,27.941912
36,PA,Pennsylvania,"12,550,581",64.0,5.099366,"12,644,372",61.0,4.824281,"12,587,318",50.0,3.972252,"12,657,821",64.0,5.056163,"12,635,883",38.0,3.007309,4.391874
37,RI,Rhode Island,"1,056,298",18.0,17.040646,"1,056,426",12.0,11.359054,"1,054,130",4.0,3.794598,"1,051,511",7.0,6.657087,"1,049,246",12.0,11.436784,10.057634
38,SC,South Carolina,"4,826,241",55.0,11.396033,"4,936,962",23.0,4.658735,"4,813,088",49.0,10.180574,"4,761,406",51.0,10.711122,"4,714,086",148.0,31.395269,13.668347
39,SD,South Dakota,"782,152",16.0,20.456382,"787,337",18.0,22.861875,"776,484",18.0,23.181418,"767,653",13.0,16.934735,"756,389",29.0,38.340060,24.354894
40,TN,Tennessee,"6,600,299",221.0,33.483332,"6,651,194",142.0,21.349550,"6,519,911",194.0,29.755007,"6,495,978",196.0,30.172516,"6,456,188",317.0,49.100181,32.772117
41,TX,Texas,"27,390,337",191.0,6.973262,"27,862,596",178.0,6.388493,"26,922,758",145.0,5.385778,"26,304,575",132.0,5.018138,"3,484,920",181.0,51.938065,15.140747
42,UT,Utah,"2,966,781",47.0,15.842086,"3,014,190",66.0,21.896430,"2,926,391",50.0,17.085892,"2,883,607",75.0,26.009092,"2,799,874",102.0,36.430211,23.452742
43,VT,Vermont,"626,042",8.0,12.778695,"624,594",25.0,40.026001,"626,306",15.0,23.949954,"623,447",12.0,19.247827,"622,979",12.0,19.262287,23.052953
44,VA,Virginia,"8,380,278",158.0,18.853790,"8,411,424",122.0,14.504084,"8,324,943",118.0,14.174271,"8,258,337",119.0,14.409681,"8,185,867",134.0,16.369677,15.662301
45,WA,Washington,"7,163,444",275.0,38.389356,"7,282,106",387.0,53.143967,"7,051,748",308.0,43.677114,"6,967,181",291.0,41.767251,"6,890,640",272.0,39.473837,43.290305
46,WV,West Virginia,"1,494,503",41.0,27.433869,"1,621,366",41.0,25.287319,"1,648,198",26.0,15.774804,"1,670,269",56.0,33.527534,"1,733,977",27.0,15.571141,23.518933
47,WI,Wisconsin,"5,580,752",43.0,7.705055,"5,652,781",34.0,6.014739,"5,610,210",51.0,9.090569,"5,691,976",50.0,8.784296,"5,682,618",68.0,11.966316,8.712195
48,WY,Wyoming,"564,577",2.0,3.542475,"556,446",3.0,5.391359,"579,446",0.0,0.000000,"577,987",1.0,1.730143,"555,285",2.0,3.601754,2.853146
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
condensed = condensed_1216.dropna(how='all')
condensed

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,2014 Population,2014 Incidents,2014 Incidents by Normalized Population,2013 Population,2013 Incidents,2013 Incidents by Normalized Population,2012 Population,2012 Incidents,2012 Incidents by Normalized Population,1216 Incident Avg by Normalized Population
0,AL,Alabama,"1,252,146",10.0,7.986289,"1,013,839",14.0,13.808899,"794,907",9.0,11.322079,"1,147,612",6.0,5.228248,"141,235",6.0,42.482388,16.165580
1,AK,Alaska,"734,820",8.0,10.887020,"738,566",11.0,14.893726,"732,371",6.0,8.192569,"730,950",8.0,10.944661,"315,266",6.0,19.031548,12.789905
2,AZ,Arizona,"6,622,880",276.0,41.673713,"6,361,910",213.0,33.480511,"6,433,584",265.0,41.190105,"6,358,545",155.0,24.376646,"5,974,180",176.0,29.460110,34.036217
3,AR,Arkansas,"2,754,543",5.0,1.815183,"2,853,645",12.0,4.205148,"2,661,818",8.0,3.005465,"2,809,536",27.0,9.610128,"2,748,544",30.0,10.914870,5.910159
4,CA,California,"39,137,326",837.0,21.386234,"39,242,633",931.0,23.724198,"38,802,500",759.0,19.560595,"38,324,460",843.0,21.996396,"37,933,751",910.0,23.989191,22.131323
5,CO,Colorado,"5,445,853",107.0,19.647978,"5,519,770",104.0,18.841365,"5,268,592",96.0,18.221187,"5,163,276",128.0,24.790462,"5,109,141",189.0,36.992520,23.698702
6,CT,Connecticut,"3,399,068",93.0,27.360441,"3,576,452",106.0,29.638312,"3,375,662",123.0,36.437297,"3,566,367",145.0,40.657622,"3,574,937",149.0,41.679056,35.154546
7,DE,Delaware,"945,934",11.0,11.628718,"952,065",15.0,15.755227,"935,614",13.0,13.894619,"925,749",12.0,12.962477,"917,092",10.0,10.904031,13.029014
8,FL,Florida,"5,356,877",72.0,13.440667,"8,988,095",96.0,10.680795,"19,794,279",65.0,3.283777,"19,455,529",76.0,3.906345,"19,224,398",144.0,7.490482,7.760413
9,GA,Georgia,"7,991,234",44.0,5.506033,"8,216,137",39.0,4.746756,"8,204,655",41.0,4.997163,"7,817,674",57.0,7.291171,"7,696,372",21.0,2.728558,5.053936
10,ID,Idaho,"1,654,475",34.0,20.550326,"1,683,140",27.0,16.041446,"1,634,011",25.0,15.299775,"1,611,676",32.0,19.855107,"1,595,241",35.0,21.940259,18.737382
11,IL,Illinois,"12,501,008",90.0,7.199419,"12,373,460",111.0,8.970813,"12,029,618",109.0,9.060969,"12,269,532",105.0,8.557784,"12,297,695",84.0,6.830548,8.123907
12,IN,Indiana,"3,224,755",63.0,19.536368,"2,874,580",78.0,27.134399,"6,093,574",50.0,8.205365,"4,034,953",75.0,18.587577,"2,684,625",37.0,13.782186,17.449179
13,IA,Iowa,"3,105,094",6.0,1.932309,"3,113,786",17.0,5.459592,"2,974,604",11.0,3.697971,"2,958,457",10.0,3.380140,"2,935,796",8.0,2.724985,3.438999
14,KS,Kansas,"2,741,323",62.0,22.616817,"2,591,338",49.0,18.909150,"2,843,179",73.0,25.675485,"2,665,446",64.0,24.010991,"2,258,766",81.0,35.860288,25.414546
15,KY,Kentucky,"4,402,368",188.0,42.704290,"4,427,530",206.0,46.527070,"4,386,536",163.0,37.159162,"4,334,254",171.0,39.453156,"3,653,352",203.0,55.565410,44.281818
16,LA,Louisiana,"3,711,824",38.0,10.237554,"3,560,451",26.0,7.302446,"2,706,155",9.0,3.325752,"3,237,092",22.0,6.796223,"2,213,017",4.0,1.807487,5.893892
17,ME,Maine,"1,329,328",38.0,28.585872,"1,331,479",40.0,30.041781,"1,330,089",28.0,21.051223,"1,328,302",25.0,18.821021,"1,329,192",52.0,39.121511,27.524282
18,MD,Maryland,"6,006,401",41.0,6.826051,"6,016,447",37.0,6.149809,"5,976,407",16.0,2.677194,"5,928,814",51.0,8.602058,"5,884,563",35.0,5.947765,6.040575
19,MA,Massachusetts,"6,566,279",411.0,62.592528,"6,637,616",391.0,58.906692,"6,485,973",375.0,57.817077,"6,496,451",350.0,53.875570,"5,736,749",191.0,33.294118,53.297197
20,MI,Michigan,"9,834,270",309.0,31.420736,"9,847,710",399.0,40.517034,"9,732,430",311.0,31.955020,"9,733,958",329.0,33.799201,"9,666,469",617.0,63.828891,40.304176
21,MN,Minnesota,"5,218,435",109.0,20.887488,"5,178,985",119.0,22.977475,"5,287,138",98.0,18.535548,"4,904,213",144.0,29.362509,"3,834,480",72.0,18.776992,22.108003
22,MS,Mississippi,"763,830",0.0,0.000000,"585,454",7.0,11.956533,"1,349,655",1.0,0.740930,"1,497,332",4.0,2.671418,"707,165",18.0,25.453748,8.164526
23,MO,Missouri,"6,079,483",100.0,16.448767,"6,089,857",88.0,14.450257,"6,061,406",76.0,12.538345,"6,040,074",102.0,16.887210,"6,019,690",104.0,17.276637,15.520243
24,MT,Montana,"1,023,807",45.0,43.953597,"1,042,048",20.0,19.192974,"992,702",30.0,30.220550,"1,000,016",31.0,30.999504,"995,410",36.0,36.166002,32.106525
25,NE,Nebraska,"1,821,196",19.0,10.432705,"1,846,626",31.0,16.787373,"1,763,318",47.0,26.654296,"1,511,235",36.0,23.821576,"673,815",9.0,13.356782,18.210546
26,NV,Nevada,"2,890,845",58.0,20.063338,"2,940,058",41.0,13.945303,"2,834,483",24.0,8.467153,"2,229,342",73.0,32.745088,"2,195,232",91.0,41.453477,23.334872
27,NH,New Hampshire,"1,267,715",13.0,10.254671,"1,275,170",28.0,21.957857,"1,238,190",14.0,11.306827,"1,178,087",21.0,17.825509,"1,186,056",29.0,24.450785,17.159130
28,NJ,New Jersey,"8,956,395",330.0,36.845182,"8,942,857",282.0,31.533547,"8,936,591",336.0,37.598230,"8,898,292",414.0,46.525783,"4,266,123",505.0,118.374459,54.175440
29,NM,New Mexico,"574,972",13.0,22.609797,"576,958",26.0,45.063939,"717,010",13.0,18.130849,"888,880",12.0,13.500135,"223,466",2.0,8.949907,21.650925
30,NY,New York,"19,766,342",500.0,25.295525,"19,738,790",595.0,30.143692,"19,652,379",545.0,27.732011,"19,515,678",615.0,31.513125,"19,222,847",715.0,37.195323,30.375935
31,NC,North Carolina,"10,041,690",161.0,16.033158,"10,145,637",148.0,14.587551,"9,942,854",140.0,14.080464,"9,845,983",118.0,11.984583,"9,750,451",119.0,12.204564,13.778064
32,ND,North Dakota,"756,927",36.0,47.560729,"757,493",8.0,10.561154,"738,176",40.0,54.187619,"722,021",51.0,70.635065,"689,607",41.0,59.454153,48.479744
33,OH,Ohio,"9,781,677",416.0,42.528495,"9,573,452",442.0,46.169344,"9,711,237",403.0,41.498318,"10,376,248",370.0,35.658361,"9,841,632",257.0,26.113555,38.393615
34,OK,Oklahoma,"3,896,985",37.0,9.494519,"3,869,095",33.0,8.529126,"3,878,051",33.0,8.509429,"3,850,568",41.0,10.647780,"1,363,283",21.0,15.403992,10.516969
35,OR,Oregon,"1,671,416",65.0,38.889181,"3,547,910",104.0,29.313032,"1,526,458",26.0,17.032896,"2,301,273",66.0,28.679779,"2,015,920",52.0,25.794674,27.941912
36,PA,Pennsylvania,"12,550,581",64.0,5.099366,"12,644,372",61.0,4.824281,"12,587,318",50.0,3.972252,"12,657,821",64.0,5.056163,"12,635,883",38.0,3.007309,4.391874
37,RI,Rhode Island,"1,056,298",18.0,17.040646,"1,056,426",12.0,11.359054,"1,054,130",4.0,3.794598,"1,051,511",7.0,6.657087,"1,049,246",12.0,11.436784,10.057634
38,SC,South Carolina,"4,826,241",55.0,11.396033,"4,936,962",23.0,4.658735,"4,813,088",49.0,10.180574,"4,761,406",51.0,10.711122,"4,714,086",148.0,31.395269,13.668347
39,SD,South Dakota,"782,152",16.0,20.456382,"787,337",18.0,22.861875,"776,484",18.0,23.181418,"767,653",13.0,16.934735,"756,389",29.0,38.340060,24.354894
40,TN,Tennessee,"6,600,299",221.0,33.483332,"6,651,194",142.0,21.349550,"6,519,911",194.0,29.755007,"6,495,978",196.0,30.172516,"6,456,188",317.0,49.100181,32.772117
41,TX,Texas,"27,390,337",191.0,6.973262,"27,862,596",178.0,6.388493,"26,922,758",145.0,5.385778,"26,304,575",132.0,5.018138,"3,484,920",181.0,51.938065,15.140747
42,UT,Utah,"2,966,781",47.0,15.842086,"3,014,190",66.0,21.896430,"2,926,391",50.0,17.085892,"2,883,607",75.0,26.009092,"2,799,874",102.0,36.430211,23.452742
43,VT,Vermont,"626,042",8.0,12.778695,"624,594",25.0,40.026001,"626,306",15.0,23.949954,"623,447",12.0,19.247827,"622,979",12.0,19.262287,23.052953
44,VA,Virginia,"8,380,278",158.0,18.853790,"8,411,424",122.0,14.504084,"8,324,943",118.0,14.174271,"8,258,337",119.0,14.409681,"8,185,867",134.0,16.369677,15.662301
45,WA,Washington,"7,163,444",275.0,38.389356,"7,282,106",387.0,53.143967,"7,051,748",308.0,43.677114,"6,967,181",291.0,41.767251,"6,890,640",272.0,39.473837,43.290305
46,WV,West Virginia,"1,494,503",41.0,27.433869,"1,621,366",41.0,25.287319,"1,648,198",26.0,15.774804,"1,670,269",56.0,33.527534,"1,733,977",27.0,15.571141,23.518933
47,WI,Wisconsin,"5,580,752",43.0,7.705055,"5,652,781",34.0,6.014739,"5,610,210",51.0,9.090569,"5,691,976",50.0,8.784296,"5,682,618",68.0,11.966316,8.712195
48,WY,Wyoming,"564,577",2.0,3.542475,"556,446",3.0,5.391359,"579,446",0.0,0.000000,"577,987",1.0,1.730143,"555,285",2.0,3.601754,2.853146

# Map data

In [30]:
#For loop
for col in condensed.columns:
    condensed[col] = condensed[col].astype(str)

#Set color groups for heat scale 
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
    [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# Prepare data to put into text.
# Text variable will be inserted into 'data' dictionary below.
# These columns will appear in plotly.com hover feature.
condensed['text'] = condensed['Participating state'] + '<br>' +\
    ' 2016 Population ' + condensed['2016 Population']+\
    ' 2016 Incidents '+ condensed['2016 Incidents']+\
    ' 1216 Incident Avg by Normalized Population '+condensed['1216 Incident Avg by Normalized Population']

# Set up data dictionary to hold the data
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = condensed['State code'],
        z = condensed['1216 Incident Avg by Normalized Population'].astype(float),
        locationmode = 'USA-states',
        text = condensed['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Incidents"
        )
    ) ]

# Set up layout dictionary for the visualization
layout = dict(
        title = '2012-2016 Avg Hate Crime Incidents by Participating State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

# Name the figure as a dictionary of the 1) data dictionary and 2) layout dictonary 
fig = dict( data=data, layout=layout )


#save fig
pio.write_image(fig, 'Images/1216_hc_incidents.png')

# Name the file for your inline viewing 
# url = py.iplot( fig, filename='d3-cloropleth-map' )
py.iplot(data, filename='d3-cloropleth-map')

C:\Users\dbeaman\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dbeaman\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~drbeaman/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'