# 2015 & 2016 Hate Crime Incidents by State Heatmap

Read in 2015 and 2016 Hate Crime Incidents by State from FBI, and create a heat map by US State.
Heat is normalized by US Population.

In [1]:
# Dependencies:
# First you need to pip install plotly and create free account online for the api key. 
# Second you need to pip install Orca.
# Then you can call plotly as py and orca as pio.
import pandas as pd
import numpy as np
import requests
import plotly
plotly.tools.set_credentials_file(username='drbeaman', api_key='sT7AGDihwOZJVDF5iwhl')
import plotly.plotly as py
import plotly.io as pio

In [2]:
# Import incidents by state file as DataFrame
incidents_2015 = "Resources/hate_crime_by_state_2015.csv"
incidents_2016 = "Resources/hate_crime_by_state_2016.csv"
incidents_2015_df = pd.read_csv(incidents_2015)
incidents_2016_df = pd.read_csv(incidents_2016)

In [3]:
# Merge the data sets
combined_incidents_df = pd.merge(incidents_2015_df, incidents_2016_df, how='outer', \
    on='Participating state')
combined_incidents_df.head()

,State code_x,Participating state,Number of participating agencies_x,Population covered_x,Agencies submitting incident reports_x,Total number of incidents reported_x,Incidents by Normalized Population_x,State code_y,Number of participating agencies_y,Population covered_y,Agencies submitting incident reports_y,Total number of incidents reported_y,Incidents by Normalized Population_y,Unnamed: 7,Unnamed: 8
0,AL,Alabama,34,"1,252,146",3,10,7.986289,AL,28,"1,013,839",4,14,13.808899,NaN,NaN
1,AK,Alaska,33,"734,820",4,8,10.887020,AK,32,"738,566",3,11,14.893726,NaN,NaN
2,AZ,Arizona,101,"6,622,880",21,276,41.673713,AZ,85,"6,361,910",18,213,33.480511,NaN,NaN
3,AR,Arkansas,279,"2,754,543",4,5,1.815183,AR,288,"2,853,645",5,12,4.205148,NaN,NaN
4,CA,California,730,"39,137,326",213,837,21.386234,CA,733,"39,242,633",213,931,23.724198,NaN,NaN

In [4]:
# Check the data types to see exact names of columns to rename
combined_incidents_df.dtypes

State code_x                                  object
Participating state                           object
Number of\nparticipating\nagencies_x          object
Population\ncovered_x                         object
Agencies\nsubmitting\nincident\nreports_x      int64
Total\nnumber of\nincidents\nreported_x        int64
Incidents by Normalized Population_x         float64
State code_y                                  object
Number of\nparticipating\nagencies_y          object
Population\ncovered_y                         object
Agencies\nsubmitting\nincident\nreports_y      int64
Total\nnumber of\nincidents\nreported_y        int64
Incidents by Normalized Population_y         float64
Unnamed: 7                                   float64
Unnamed: 8                                    object
dtype: object

In [5]:
# Drop unnecessary columns
condensed= combined_incidents_df.drop(columns=[
    'State code_y', \
    'Number of\nparticipating\nagencies_x', \
    'Agencies\nsubmitting\nincident\nreports_x',\
    'Number of\nparticipating\nagencies_y',\
    'Agencies\nsubmitting\nincident\nreports_y',
    'Unnamed: 7','Unnamed: 8'])
condensed.head()

,State code_x,Participating state,Population covered_x,Total number of incidents reported_x,Incidents by Normalized Population_x,Population covered_y,Total number of incidents reported_y,Incidents by Normalized Population_y
0,AL,Alabama,"1,252,146",10,7.986289,"1,013,839",14,13.808899
1,AK,Alaska,"734,820",8,10.887020,"738,566",11,14.893726
2,AZ,Arizona,"6,622,880",276,41.673713,"6,361,910",213,33.480511
3,AR,Arkansas,"2,754,543",5,1.815183,"2,853,645",12,4.205148
4,CA,California,"39,137,326",837,21.386234,"39,242,633",931,23.724198

In [6]:
#Rename columns
condensed.rename(columns=
    {'State code_x':'State code','Population\ncovered_x':'2015 Population',\
     'Total\nnumber of\nincidents\nreported_x':'2015 Incidents',\
     'Incidents by Normalized Population_x':"2015 Incidents by Normalized Population",\
     'Population\ncovered_y':'2016 Population',\
     'Total\nnumber of\nincidents\nreported_y':'2016 Incidents',\
     'Incidents by Normalized Population_y':"2016 Incidents by Normalized Population"}, inplace=True)
condensed.columns

Index(['State code', 'Participating state', '2015 Population',
       '2015 Incidents', '2015 Incidents by Normalized Population',
       '2016 Population', '2016 Incidents',
       '2016 Incidents by Normalized Population'],
      dtype='object')

In [7]:
# Preview DataFrame
condensed.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10,7.986289,"1,013,839",14,13.808899
1,AK,Alaska,"734,820",8,10.887020,"738,566",11,14.893726
2,AZ,Arizona,"6,622,880",276,41.673713,"6,361,910",213,33.480511
3,AR,Arkansas,"2,754,543",5,1.815183,"2,853,645",12,4.205148
4,CA,California,"39,137,326",837,21.386234,"39,242,633",931,23.724198

In [8]:
#Calculate Average Incident Rate by Normalized Population
condensed['1516 Incident Avg by Normalized Population'] = condensed[['2015 Incidents by Normalized Population',\
    '2016 Incidents by Normalized Population']].mean(axis=1)

In [9]:
condensed.head()

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population,2016 Population,2016 Incidents,2016 Incidents by Normalized Population,1516 Incident Avg by Normalized Population
0,AL,Alabama,"1,252,146",10,7.986289,"1,013,839",14,13.808899,10.897594
1,AK,Alaska,"734,820",8,10.887020,"738,566",11,14.893726,12.890373
2,AZ,Arizona,"6,622,880",276,41.673713,"6,361,910",213,33.480511,37.577112
3,AR,Arkansas,"2,754,543",5,1.815183,"2,853,645",12,4.205148,3.010166
4,CA,California,"39,137,326",837,21.386234,"39,242,633",931,23.724198,22.555216

# Map data

In [12]:
#For loop
for col in condensed.columns:
    condensed[col] = condensed[col].astype(str)

#Set color groups for heat scale 
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
    [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# Prepare data to put into text.
# Text variable will be inserted into 'data' dictionary below.
# These columns will appear in plotly.com hover feature.
condensed['text'] = condensed['Participating state'] + '<br>' +\
    ' 2016 Population ' + condensed['2016 Population']+\
    ' 2016 Incidents '+condensed['2016 Incidents']+\
    ' 1516 Incident Avg by Normalized Population '+condensed['1516 Incident Avg by Normalized Population']

# Set up data dictionary to hold the data
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = condensed['State code'],
        z = condensed['1516 Incident Avg by Normalized Population'].astype(float),
        locationmode = 'USA-states',
        text = condensed['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Incidents"
        )
    ) ]

# Set up layout dictionary for the visualization
layout = dict(
        title = '2015 & 2016 Hate Crime Incidents by Participating State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

# Name the figure as a dictionary of the 1) data dictionary and 2) layout dictonary 
fig = dict( data=data, layout=layout )

#save fig
pio.write_image(fig, 'Images/1516_hc_incidents_norm_pop.png')

# Name the file for your inline viewing 
# url = py.iplot( fig, filename='d3-cloropleth-map' )
py.iplot(data, filename='d3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~drbeaman/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'